{% extends 'base.html' %}


{% load static %}
{% load bootstrap5 %}

{%bootstrap_css%}
{%bootstrap_javascript%}
{% comment %} {%bootstrap_messages%} {% endcomment %}


{% block title %} registro {% endblock %}

{% block content %}
<div class="text-center bg-dark  text-warning">
    <h1>registro</h1>
    <div class="container ">
        <form action="" method="post" class="container w-50">
            {% csrf_token %}
            {% comment %} {{form}} {% endcomment %}
            {% bootstrap_form form %}
            {% buttons %} 
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}  